@{
	Layout = null;
}
<!-- CSS Files -->
<link rel="stylesheet" href="~/../css/bootstrap.min.css">
<link rel="stylesheet" href="~/../css/atlantis.min.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<body class="login m-0 ">
	<div class="wrapper d-flex wrapper-login wrapper-login-full p-0">
		<div class="login-aside w-50 h-100 d-flex align-items-center justify-content-center bg-white">
			<div class="rounded-box text-center animated fadeInDown d-flex align-items-center justify-content-center">
				<img src="~/img/logo-login.png" alt="Logo" class="img-fluid" style="max-width: 40%;">
			</div>
		</div>
		<div class="login-aside w-50 h-100 d-flex align-items-center justify-content-center bg-white p-5">
			<div class="container container-login container-transparent animated fadeInDown">
				<h3 class="text-center">Inicia sesion en tu cuenta</h3>
				<div class="login-form">
                    <form method="post" action="/Home/Login">
					<div class="form-group">
						<label for="username" class="placeholder"><b>Nombre de usuario</b></label>
						<input id="username" name="username" type="text" class="form-control" >
					</div>
					<div class="form-group">
						<label for="password" class="placeholder"><b>Contraseña</b></label>
						<div class="position-relative">
							<input id="password" name="password" type="password" class="form-control">
							<div class="show-password">
								<i class="icon-eye"></i>
							</div>
						</div>
					</div>
					<div class="form-group form-action-d-flex text-center mb-3">
						<button type="submit" class="primary-button mx-2">
								<span style="padding:0.6em 1em 0.6em 1em;">
								
								Iniciar Sesion
							</span>
						</button>
					</div>
					</form>
				</div>
			</div>

			<div class="container container-signup container-transparent animated fadeIn">
				<h3 class="text-center">Sign Up</h3>
				<div class="login-form">
					<div class="form-group">
						<label for="fullname" class="placeholder"><b>Fullname</b></label>
						<input id="fullname" name="fullname" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="email" class="placeholder"><b>Email</b></label>
						<input id="email" name="email" type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="passwordsignin" class="placeholder"><b>Password</b></label>
						<div class="position-relative">
							<input id="passwordsignin" name="passwordsignin" type="password" class="form-control" required>
							<div class="show-password">
								<i class="icon-eye"></i>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="confirmpassword" class="placeholder"><b>Confirm Password</b></label>
						<div class="position-relative">
							<input id="confirmpassword" name="confirmpassword" type="password" class="form-control" required>
							<div class="show-password">
								<i class="icon-eye"></i>
							</div>
						</div>
					</div>
					<div class="row form-sub m-0">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="agree" id="agree">
							<label class="custom-control-label" for="agree">I Agree the terms and conditions.</label>
						</div>
					</div>
					<div class="row form-action">
						<div class="col-md-6">
							<a href="#" id="show-signin" class="btn btn-danger btn-link w-100 fw-bold">Cancel</a>
						</div>
						<div class="col-md-6">
							<a href="#" class="btn btn-secondary w-100 fw-bold">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!--   Core JS Files   -->
		<script src="~/../js/core/jquery.3.2.1.min.js"></script>
		<script src="~/../js/core/popper.min.js"></script>
		<script src="~/../js/core/bootstrap.min.js"></script>

		<!-- jQuery UI -->
		<script src="~/../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
		<script src="~/../js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

		<!-- jQuery Scrollbar -->
		<script src="~/../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


		<!-- Chart JS -->
		<script src="~/../js/plugin/chart.js/chart.min.js"></script>

		<!-- jQuery Sparkline -->
		<script src="~/../js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

		<!-- Chart Circle -->
		<script src="~/../js/plugin/chart-circle/circles.min.js"></script>

		<!-- Datatables -->
		<script src="~/../js/plugin/datatables/datatables.min.js"></script>



		<!-- jQuery Vector Maps -->
		<script src="~/../js/plugin/jqvmap/jquery.vmap.min.js"></script>
		<script src="~/../js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

		<!-- Sweet Alert -->
		<script src="~/../js/plugin/sweetalert/sweetalert.min.js"></script>

		<!-- Atlantis JS -->
		<script src="~/../js/atlantis.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" />
		<script>
				$(document).ready(function(){
					var mensajeError = '@TempData["MensajeError"]';

					if (mensajeError) {
						iziToast.error({
							title: 'Error',
							message: mensajeError,
							position: 'topRight'
						});
					}
				});
		</script>
</body>

