@model GestionGimnasio.Models.tbGimnasios

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Context.Session.SetString("titulo", "Gimnasios");
}


<div class="card" style="border-radius: 20px; overflow: hidden;">
        <div class="card-header" style="
        background-color: #000000;
        opacity: 1;
        background-image:
            linear-gradient(rgba(255, 255, 255, 0.05) 1.7px, transparent 0.5px),
            linear-gradient(to right, rgba(255, 255, 255, 0.05) 0.2px, #000000 1.7px);
        background-size: 55px 55px;
        color: white;
        min-height: 15vh;
        display: flex;
        align-items: flex-end;
        padding-left: 20px;
        padding-bottom: 10px;
        ">
        <div style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 40%;
                    height: 100%;
                    background: radial-gradient(circle at right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
                    pointer-events: none;
            "></div>
            <img src="~/img/dumbbell-solid.svg" alt="Dumbbell Icon" style="
                position: absolute;
                top: -2%;
                right: 5%;
                width: 300px; /* Ajusta el tamaño de la imagen */
                height: auto;
                opacity: 0.04; /* Ajusta la transparencia */
                pointer-events: none;
            ">
            <h5 class="card-title" style="font-size: 21px; color: white; font-weight:600">Editar un gimnasio</h5>
            </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Gimna_Id" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Gimna_Nombre" class="control-label"></label>
                            <input asp-for="Gimna_Nombre" class="form-control" />
                            <span asp-validation-for="Gimna_Nombre" class="text-warning"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Gimna_Direccion" class="control-label"></label>
                            <input asp-for="Gimna_Direccion" class="form-control" />
                            <span asp-validation-for="Gimna_Direccion" class="text-warning"></span>
                        </div>
                    </div>  <!-- Cierra la fila después de dos campos -->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="Gimna_SemanaHoraApertura" class="control-label"></label>
                            <input type="time" asp-for="Gimna_SemanaHoraApertura" class="form-control" />
                            <span asp-validation-for="Gimna_SemanaHoraApertura" class="text-warning"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Gimna_SemanaHoraCierre" class="control-label"></label>
                            <input type="time" asp-for="Gimna_SemanaHoraCierre" class="form-control" />
                            <span asp-validation-for="Gimna_SemanaHoraCierre" class="text-warning"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Gimna_FinDeHoraApertura" class="control-label"></label>
                            <input type="time" asp-for="Gimna_FinDeHoraApertura" class="form-control" />
                            <span asp-validation-for="Gimna_FinDeHoraApertura" class="text-warning"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Gimna_FinDeHoraCierre" class="control-label"></label>
                            <input type="time" asp-for="Gimna_FinDeHoraCierre" class="form-control" />
                            <span asp-validation-for="Gimna_FinDeHoraCierre" class="text-warning"></span>
                        </div>
                    </div>  <!-- Cierra la fila después de dos campos -->

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="Depar_Codigo" class="control-label">Departamentos</label>
                            <select id="Depar_Codigo" class="form-control" asp-items="ViewBag.Depar_Codigo"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Munic_Codigo" class="control-label"></label>
                            <select asp-for="Munic_Codigo" class="form-control" asp-items="ViewBag.Munic_Codigo"></select>
                        </div>
                    </div>
                        <div class="form-group d-flex justify-content-center mt-3">
                            <button type="submit" class="primary-button mx-2" id="guardar">
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor" d="M4 20h4l10.5-10.5-4-4L4 16v4zM14.5 5.5l4 4"></path>
                                    </svg>
                                    Editar
                                </span>
                            </button>
                            <a class="secondary-button mx-2" asp-action="Index">
                                <span>
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor" d="M18 6L6 18M6 6l12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
                                    </svg>
                                    Cancelar
                                </span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
       </div>
   </div>


<script src="~/../js/core/jquery.3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
    $("#Depar_Codigo").change(function () {
        var cod = $("#Depar_Codigo").val();
        $.ajax({
            url: "/Gimnasios/CargarMunicipio",
            method: "POST",
            dataType: "json",
            data: { cod: cod },
            success: function (data) {
                $("#Munic_Codigo").empty();
                $("#Munic_Codigo").append("<option value='0'>Seleccione Un Municipio:</option>");
                $.each(data, function (key, value) {
                    $("#Munic_Codigo").append("<option value='" + value.munic_Codigo + "'>" + value.munic_Nombre + "</option>");
                });
            }
        });
    });

    $('#guardar').click(function(){
            if($(".text-warning").length > 0){
                iziToast.error({
                    title: 'Error',
                    message: 'Rellena los campos necesarios.',
                    position: 'topRight',
                    timeout: 5000,
                    close: false
                });
            }
        });
    });
</script>